.container-aboutus{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #ffffff;
}
.content-aboutus{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-aboutus{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-aboutus h2{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}
.p-aboutus{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.p-aboutus p{
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
}